__pycache__
.idea/
.venv/
venv/
*.ico
*.png
*.jpg
*.db
*.ui
*.sqlite
*.json
*.csv
*.ttf
*.zip
*.xlsx
*.ods
*.xml
*.txt
*.heic
.otf
.jpeg
/data
/fonts
/build
*.toc
*.pyc
*.pyz
*.pkg
xref-*
*.log
*.gif
*.gz
*.pdf
*.fls
*.fdb*
*.aux

uploads/
data/

*.session
