                        <div class="p-4">

                            <div class="progress-stacked">
                                <div class="progress" role="progressbar" aria-label="Segment primary" aria-valuenow="{{ progress_dct.primary1 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_dct.primary1 }}%">
                                    <div class="progress-bar bg-primary"></div>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Segment warning" aria-valuenow="{{ progress_dct.warning1 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_dct.warning1 }}%">
                                    <div class="progress-bar bg-warning"></div>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Segment danger" aria-valuenow="{{ progress_dct.danger1 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_dct.danger1 }}%">
                                    <div class="progress-bar bg-danger"></div>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Segment success" aria-valuenow="{{ progress_dct.success1 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_dct.success1 }}%">
                                    <div class="progress-bar bg-success"></div>
                                </div>  
                                <div class="progress" role="progressbar" aria-label="Segment secondary" aria-valuenow="{{ progress_dct.secondary1 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_dct.secondary1 }}%">
                                    <div class="progress-bar bg-secondary"></div>
                                </div>
                            </div>

                        </div>